:root {
  --black-1: #000000;  /* The darkest black */
  --black-2: #121212;  /* Slightly less dark black */
  --black-3: #1f1f1f;  /* Less dark black */
  --black-4: #2d2d2d; /* Less dark black */
  --white-1: #ffffff; /* Purest white - Main text */
  --white-2: #b2b2b2 ;  /* Dark white - secondary text */
  --spotify-green: #1db954 ;  /* Signature spotify green */
}

body {
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Martel Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */
    background: rgb(107,1,1);
    background: linear-gradient(180deg, rgba(107,1,1,0.8645833333333334) 0%, rgba(23,0,0,1) 100%);
}

h1{
    color: var(--white-1);
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
}
.small-card{
    background-color: rgba(184, 181, 181, 0.164);
    border-radius: 5px;

}
.small-card-image{
    width: 100%;
    object-fit: cover;
    padding:0;
}
.description{
    color: var(--white-1);
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
