:root {
  --black-1: #000000;  /* The darkest black */
  --black-2: #121212;  /* Slightly less dark black */
  --black-3: #1f1f1f;  /* Less dark black */
  --black-4: #2d2d2d; /* Less dark black */
  --white-1: #ffffff; /* Purest white - Main text */
  --white-2: #b2b2b2 ;  /* Dark white - secondary text */
  --spotify-green: #1db954 ;  /* Signature spotify green */
}

body {
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Martel Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;

     font-family: 'Source Sans Pro', sans-serif; */
    background: rgb(107,1,1);
    background: linear-gradient(180deg, rgba(107,1,1,0.8645833333333334) 0%, rgba(23,0,0,1) 100%);
}

/* Gbemi's classes for Navbar*/
.navStyle{
background-color: var(--black-3);
color: var(--white-1);
border-radius: 20px;
}

/*Martin's classes for sidebar*/
.sidebar-bg {
    background-color: var(--black-1);
    color: var(--white-2);
    height: calc(100vh - 24px); 
    white-space: nowrap;
    overflow-y: auto;   
}

.sidebar-logo {
    color: var(--white-1);
    font-size: 2rem;
}

.sidebar-logo > span {
    vertical-align: middle;
}

.sidebar-logo-text {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -1px;
}

.sidebar-top div {
    margin-top: 0.5rem;

}

.sidebar-top > div > span:last-of-type {
    margin-left: 1rem;
    font-size: 0.9rem;
}
.sidebar-divider {
    height: 1rem;
}

.sidebar-top img {
    height: 18px;
}

.sidebar-line-divider {    
    border-bottom: 1px solid var(--white-2);
    opacity: 0.3;
}

.sidebar-bottom {
    font-size: 0.8rem;
    /* position: relative; */

       
}

.sidebar-bottom > div > div  {  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-top: 1rem;   
}

.sidebar-bottom-content { 
    white-space: nowrap;   
    overflow-y: hidden;    
}

.sidebar-instal {
    /* position: absolute;
    bottom: 0; */
}


/*Martin's classes for sidebar end*/

/*Ali's classes for main section*/
h1{
    color: var(--white-1);
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
}
.small-card{
    background-color: rgba(184, 181, 181, 0.164);
    border-radius: 5px;

}
.small-card-image{
    width: 100%;
    object-fit: cover;
    padding:0;
}
.description{
    color: var(--white-1);
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
/*Ali's classes for main section end*/

