:root {
  --black-1: #000000;  /* The darkest black */
  --black-2: #121212;  /* Slightly less dark black */
  --black-3: #1f1f1f;  /* Less dark black */
  --black-4: #2d2d2d; /* Less dark black */
  --white-1: #ffffff; /* Purest white - Main text */
  --white-2: #b2b2b2 ;  /* Dark white - secondary text */
  --spotify-green: #1db954 ;  /* Signaturea spotify green */
}

body {
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Martel Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */
    background: rgb(162,2,2);
    background: linear-gradient(180deg, rgba(162,2,2,0.83984375) 0%, #121212 19%);
    background-attachment: fixed;
}
/*Ali's classes for main section*/



.h1-main{
    color: var(--white-1);
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
}

.h2-main{
    color: var(--white-1);
    font-size: 1.6rem;
    font-family: 'Kanit', sans-serif;
}
.small-card-main{
    background-color: rgba(184, 181, 181, 0.164);
    border-radius: 5px;
    padding: 0;
    height: 6em;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in;

}
.small-card-image-main{
    width: 6em;
    height: 6em;
    object-fit: cover;
    padding:0;
    border-radius: 2px;
    
}
.description-main{
    color: var(--white-1);
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding-left: 10px;
}


.card-main{
    background-color: #1f1f1f;
    border-radius: 10px;
    opacity: 1;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in;
    
}

.card-image-main{
    width: 14em;
    border-radius: 35px;
    height: 14em;
    object-fit: cover;
}



.card-title{
    font-size: 14px;
    color: var(--white-1);
}

.card-description-main{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white-2);
    font-size: 12px;
    margin: 0;
    line-height: 1;
}

.to-try-main{
    color: var(--white-2);
    font-size: 12px;
}
.son{
    width: 100%;
    height: 100%;
    /* position: absolute; */
    /* bottom: 0;
    right: 0; */
    z-index: 3;
    opacity: 1;
}
.son2{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: -15px;
    left: -15px; 
    z-index: 4;
    opacity:0;

    transition: opacity 0.2s ease-out;
} 
div.card-main:hover .son2{
    opacity: 1;   
}

div.small-card-main:hover {
    background-color: #8d8a8a63;
    box-shadow: 10px 5px 5px black;
}


div.card-main:hover{
    opacity: 0.8;
    background-color: #8d8a8a63 ; 
    box-shadow: 10px 5px 15px black; 
}
.imagewrapper{
    position: relative;
    width: 100%;
    height: 100%;
    
}

.playbutton:hover{
    font-size: 1.3em;
}


.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 0.4em solid transparent;
  border-bottom: 0.4em solid transparent;
  border-left: 0.5em solid var(--white-1);
  padding-right: 0.75em;
}

.playbutton{
    width: 2.2em;
    height: 2.2em;
    background-color: var(--spotify-green);
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 50%;
    opacity: 1;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    transition: font-size 0.2s ease-in-out;
    
}

a:hover{
    text-decoration: none;
}


@media (max-width: 767px) {
    .hidden-sm{
        display: none;
    }
}
@media (max-width: 1023px) {
    .hidden-md{
        display: none;
    }
}
@media (max-width: 1199px) {
    .hidden-l{
        display: none;
    }
}
@media (min-width: 1199px) {
    .hidden-xl{
        display: none;
    }
}






/*Ali's classes for main section end*/

    

/* Gbemi's classes for Navbar AND Footer - EDITED BY MARTIN*/
.navStyle{
    background-color: var(--black-1);
    color: var(--white-1);
    border-radius: 20px;
    height: 80%;
}

.navStyle > div:first-of-type > i  {
    font-size: 2rem;
}

.navbar-chevrons {
    font-size: 2rem;
    color: var(--black-1);
    padding: 0;
}


.navbar-chevrons > a:hover {
    cursor: pointer;
}

.nav-wrapper-outter {
    position: relative;
    width: 100%;
}

.nav-play-button{
    height: 72px;
    width: 48px;
}

.nav-wrapper-inner {
    position: fixed;
    width: 83.5%;
    z-index: 2;
    margin-left: -15px;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-background-toggle-artist {
    background-color: #181818;
    
}

.nav-text-toggling {
    color: var(--white-1);
    font-size: 1.7rem;
    letter-spacing: -1px;
}



.footer-class{
    color: var(--white-1);
    background-color: #181818;
}

.footer-play-button-wrapper {
    max-height: 48px; 
    max-width: 48px; 
}

.footer-play-button-bigger {
    font-size: 2rem;
    /* color: var(--spotify-green); */
}
.footer-play-button-bigger:hover {
    font-size: 2.2rem;
    /* color: var(--spotify-green); */
}

.footer-person-icon-bigger{
    font-size: 2.5rem;
}

.footer-tile {
    width: 55px;
}

/* Gbemi's classes for Navbar AND Footer - EDITED BY MARTIN  END */

/*Martin's classes for sidebar*/
.sidebar-bg {
    background-color: var(--black-1);
    color: var(--white-2);
    height: calc(100vh - 24px); 
    min-width: 180px; 
}

.sidebar-bg >div > div > span:hover {
    color: var(--white-1);
}
.sidebar-bg >div > div > div:hover {
    color: var(--white-1);
}

.sidebar-logo {
    color: var(--white-1);
    font-size: 2rem;
}

.sidebar-logo > span {
    vertical-align: middle;
}

.sidebar-logo-text {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -1px;
}

.sidebar-top div {
    margin-top: 0.5rem;

}

.sidebar-top > div > span:last-of-type {
    margin-left: 1rem;
    font-size: 0.9rem;
}
.sidebar-divider {
    height: 1rem;
}

.sidebar-top img {
    height: 18px;
}

.sidebar-line-divider {    
    border-bottom: 1px solid var(--white-2);
    opacity: 0.3;
}

.sidebar-bottom {
    font-size: 0.8rem;
   
    /* position: relative; */

       
}

.sidebar-bottom > div > div  {  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-top: 1rem;   
}

.sidebar-bottom-content { 
    height: calc(50vh - 50px);
    overflow-y: auto;
    white-space: nowrap;   
      
}


/* Styling scroll-bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black-4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--black-2);
}

/* Styling scroll-bar end */


/*Martin's classes for sidebar end*/

/* Martin's classes for the artist page */

.artist-main-container {
    background-image: url("Assests/foo-fighters-1.jpg") ;
    background-position: center 45%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vh;
    /* z-index: -1; */
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.artist-main-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.35;
}

.artist-main-row-wrapper {
    color: var(--white-1);

}

.artist-main-row-wrapper h1 {
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.artist-main-text-smaller {
    font-size: 0.7rem;
    
}

.artist-main-text-vertical-center {
    vertical-align: middle;
}

.artist-main-color-blue {
    color: #2e77d0;
}

.artist-main-play-button {
    max-width: 3rem;
    max-height: 4.5rem;
    font-size: 3rem;
    color: var(--spotify-green);
    position: relative;
}

.artist-main-play-button-inner-div {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top:35%;
    left: 25%;
    bottom:20%;
    right: 20%;
    z-index: -1;
    background-color: var(--white-1);
}

.artist-main-play-button i:hover {
    font-size: 3.3rem;
}

.artist-main-songs-list img {
    height: 30px;
    width: 30px;
}

.artist-main-songs-list {
    color: var(--white-1);
}

.artist-main-songs-list span:last-of-type {
    margin-left: 1rem;
}

.artist-main-songs-right {
    color: var(--white-2);
   
}

.artist-text-secundary {
    color: var(--white-2)
}

.artist-text-secundary:hover {
    color: var(--white-1)
}

.artist-songs-table-wrapper > .row:hover > div:last-of-type > span:last-of-type::after {
    content: '\f141';     
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin:0px 0px 0px 10px;
    text-decoration:none;
}
.artist-songs-table-wrapper > .row:hover > div:last-of-type > span:last-of-type::before {
    content: '\f004';     
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin:0px 10px 0px 0px;
    text-decoration:none;
}

.artist-songs-table-wrapper > .row:hover {
    background-color: var(--black-4);
    border-radius: 5px;
    
}

.artist-follow:hover {
    border:2px solid var(--white-1) !important;
}

.artist-songs-table-wrapper > .row:hover > div:first-of-type > span:first-of-type {
    display: none;
}
.artist-songs-table-wrapper > .row:hover > div:first-of-type > span:nth-of-type(2) {
    display: inline-block !important;
}

/* Martin's classes for the artist page end */


/* Gbemi's classses for Album page*/

.under_text{
    font-size: 12px;
    padding-top: 0px;

}

.ash_tag{
    color: var(--white-1);
    padding-left: 0px;
    padding-right: 0px;
}

.card-head{
    padding: 0px;
}

.card-head-image{
    padding: 0px 0px;
    max-width: 100%;
}

.description{
    color: var(--white-1);
    padding: 0px 0px;
}

.description-head_1{
    font-size: 16px;
}

.card-image-head{
    width: 150px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
}

/* End of Gbemi's Album code*/

/* STYLES FOR PROGRESS BAR */

#myProgress {
  width: 90%;
  background-color: grey;
  border-radius: 2px;
}

#myBar {
  width: 1%;
  height: 3px;
  border-radius: 2px;
  background-color: var(--spotify-green);
}

.footer-timers {
    font-size: 0.8rem;
}

.artist-songs-table-wrapper > .row .bi-play-fill:hover {
    cursor: pointer;
}

.footer-play-button-wrapper:hover {
  cursor: pointer;
}


/* .artist-songs-table-wrapper > .row button {
    background: transparent;
    border: none;
    width: 10px;
    color: var(--white-1);
    margin-right: 1rem;

} */
  /* STYLES FOR PROGRESS BAR END */