:root {
  --black-1: #000000;  /* The darkest black */
  --black-2: #121212;  /* Slightly less dark black */
  --black-3: #1f1f1f;  /* Less dark black */
  --black-4: #2d2d2d; /* Less dark black */
  --white-1: #ffffff; /* Purest white - Main text */
  --white-2: #b2b2b2 ;  /* Dark white - secondary text */
  --spotify-green: #1db954 ;  /* Signature spotify green */
}

body {
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Martel Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */
    background: rgb(78,1,1);
    background: linear-gradient(180deg, rgba(78,1,1,0.83984375) 0%, rgba(45,45,45,1) 24%, rgba(18,18,18,1) 27%);
    background-attachment: fixed;
}
.h1-main{
    color: var(--white-1);
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
}
.small-card-main{
    background-color: rgba(184, 181, 181, 0.164);
    border-radius: 5px;

}
.small-card-image-main{
    width: 100%;
    object-fit: cover;
    padding:0;
    border-radius: 2px;
}
.description-main{
    color: var(--white-1);
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
